#/etc/systemd/system/wifi-resume.service
#sudo systemctl enable wifi-resume.service
[Unit]
Description=Restart IITK auth
After=suspend.target 
After=hibernate.target
After=hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=supervisorctl restart auth-iitk

[Install]
WantedBy=suspend.target
WantedBy=hibernate.target
WantedBy=hybrid-sleep.target
